# バイナリファイル
*.exe
*.dll
*.so
*.dylib

# 環境変数
.env

# Protocol Buffers 生成ファイル
*.pb.go

# Go モジュールキャッシュ
go.sum
go.work
go.work.sum

# 一時ファイル
*.tmp
*.log

# OS 固有のファイル
.DS_Store
Thumbs.db

# IDE/エディタの設定ファイル
.vscode/
.idea/

# 作成したMemoのファイルのフォルダ
service/memo/app/tmp/

# debugファイル
__debug_bin*
