# バイナリファイル
*.exe
*.dll
*.so
*.dylib

# Protocol Buffers 生成ファイル
*.pb.go

# Go モジュールキャッシュ
go.sum
go.work
go.work.sum

# 一時ファイル
*.tmp
*.log

# OS 固有のファイル
.DS_Store
Thumbs.db

# IDE/エディタの設定ファイル
.vscode/
.idea/

# 作成したMemoのファイルのフォルダ
service/memo/app/memo/tmp/*
